#!/usr/bin/env bash

# core utils
alias ls='ls --color=auto'
alias ll='ls -l'
alias la='ls -la'
alias grep='grep --color=auto'

# dotfiles
alias sd='sh ~/dotfiles/bootstrap.sh'

# navigation
alias pj='cd ~/projects'
alias ec='cd ~/projects/exercism'
alias dl='cd ~/downloads'
